.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .navbar-inner
    .container-fluid
      %ul.nav.pull-left
        %li.navbar-link= link_to "Fellowship", mobile_dashboard_path
      %ul.nav.pull-right
        -if current_user
          %li.navbar-text= "Hi " + current_user.displayname + "!" 
          %li.divider-vertical
          %li.navbar-link= link_to "Logout", log_out_path
        -else
          %li= link_to "Hi Guest!"#