// %meta{ "http-equiv" => "refresh", :content =>"15" }

%h1 Fellowship

= javascript_include_tag 'desktop'

.container
  .row
    #restaurant-main-source
      -@top5.each do |ship|
        .col-lg-2{:'data-id' => ship.id}
          %h3= ship.name
          %ul.user-source
            -ship.users.each do |user|
              %li{:'data-id' => Digest::SHA1.base64digest(user.username)}
                = user.displayname
          / %ul.user-destination{:style => 'display:none'}
      .col-lg-2.restaurant-aux-column{:'data-id' => 'aux-column'}
        %ul.restaurant-aux-source
          -@rest_of_restaurants.each do |ship|
            %li{:'data-id' => ship.id}
              %h4= ship.name
        %ul.restaurant-aux-destination{:style => 'display:none'}
    #restaurant-main-destination{:style => 'display:none'}