=render :partial => "mobile_navbar", :layout => "mobile_navbar"

= javascript_include_tag "mobile"

%span#restaurant-id{:style => "display:none"}=params[:id]
- if params[:id] == "new"
  :javascript
    attachCreateRestaurantButton();
    
:javascript
  attachSignUpButton();
  attachModalRegisterButton();

.alert.alert-danger.fade.in#restaurant-created-alert{:style => 'display:none'}
  %button.close{:type => 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true} ×
  %h5 That restaurant is already created!

.panel.panel-default#restaurant-panel
  - if params[:id] == 'new'
    .input-group.full-input-width
      %input.form-control#restaurant-name-input{:type => "text"}
      %span.input-group-btn
        %button.btn.btn-default#create-restaurant-button{:type => "button"} Create restaurant!
  - else
    .panel-heading
      %h3.panel-title#panel-restaurant-name
        = @restaurant.name
  %table.table#restaurant-user-table
    %tbody
      - if not @users.nil?
        - @users.each do |u|
          %tr
            %td
              = u.displayname

.input-group
  - if current_user
    %input.form-control#username-input{:type => "text", :readonly => "true", :value => session[:username]}
  - else
    %label Enter your uniquely identifiable username:
    %input.form-control#username-input{:type => "text"}
  %span.input-group-btn#add-to-restaurant-span
    %button.btn.btn-default#add-to-restaurant-button{:type => "button"} Sign me up!

.modal.fade#modal-register
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden"  => "true"} ×
        %h4.modal-title Register as new user?
      .modal-body
        %p You are a new user, please register!
        %p Please enter a display name:
        %input#displayname-input
      .modal-footer
        %button.btn.btn-default{:type => "button", "data-dismiss" => "modal"} Close
        %button.btn.btn-primary#modal-register-button{:type => "button"} Register