=render :partial => "mobile_navbar", :layout => "mobile_navbar"

= javascript_include_tag 'mobile'

:javascript
  getRestaurants()
  
.list-group
  %a.list-group-item#new-restaurant-item{:href => '/m/restaurantnew'}
    %h2 Suggest a new restaurant...